<!DOCTYPE html>
<html lang="en">
<head>
    {{> './partials/meta' }}
    {{> './partials/links' }}
    {{> './partials/tag-manager.head' }}
    <title>{{title}}</title>
</head>
<body>
    {{> './partials/tag-manager.body' }}
    <div class="content-wrapper">
    </div>
</body>
</html>