/************
*  GENERAL  *
*************/
html,body{
    padding: 0;
    margin: 0;
    font-family: "Quicksand"
}

body *{
    box-sizing: border-box;
}
.header,.footer{
    position: absolute;
    height: 50px;
    min-width: 100vw;
    z-index: 10;
}

.header{
    top: 0;
    left: 0;
}

.footer{
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 5px;
}

.name-tag{
    font-family:"Damion";
    font-size: 2.5em;
    padding-left: 20px;
    font-weight: 100;
    text-align: center;
    margin: 0px;
    margin-top: -10px;
    color: #eaeaea;
    transition: color .25s;
}

.footer .name-tag span{
    font-family: "Quicksand";
    font-size: .55em;
    vertical-align: super;
}

.content-wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0f19;
}

.content{
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
}

.thumbnail{
    z-index: 10;
    width: 200px;
    height: 200px;
    border:10px solid #eaeaea;
    border-radius: 50%;
    background: no-repeat center/100% url('salis.png') #eaeaea;
}

.about-me{
    position: relative;
    width: 400px;
    left: -100px;
    top: -400px;
    height: auto;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid;
    border-color: #eaeaea;
    color: #eaeaea;
    border-radius: 5px;
    transition: border-color .25s,color .25s;
    transition-delay: .25s;
}

.about-me::before,.about-me::after{
    position: absolute;
    content:"";
    width: 0px;
    height:0px;
    display: block;
    left: 50%;
}

.about-me::after{
    bottom: -40px;
    margin-left: -20px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    border-top-color: #eaeaea;
    transition: border-top-color .25s;
    transition-delay: .25s;
}

.about-me::before{
    bottom: -35px;
    margin-left: -19px;
    border-bottom: 19px solid transparent;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 19px solid;
    border-top-color: #0e0f19;
    transition: border-top-color .25s;
    transition-delay: .35s;
    z-index: 1;
}

.about-me p{
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: inherit;
    position: relative;
}

.about-me p a{
    color: #3d5a80;
    border-bottom: 1px dotted #3d5a80;
    text-decoration: none;
}

.social-links{
    padding: 0;
    list-style: none;
    position: relative;
    top: 10px;
    width: 200px;
    left: 10px;
}

.social-links li{
    display: inline-block;
    list-style: none;
    min-width: 35px;
    min-height: 35px;
    position: relative;
    top: -4px;
    margin-right: 15px;
}

li.social-links__twitter{

}

li.social-links__github{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    top: 0;
}

li.social-links__linkedin{       
}

.social-links li.social-links__linkedin:hover svg>path,
.social-links li.social-links__linkedin:hover svg{
    fill: #0077b5;
}

.social-links li.social-links__twitter:hover svg>path,
.social-links li.social-links__twitter:hover svg{
    fill: #55acee;
}

.social-links li.social-links__github:hover svg>path,
.social-links li.social-links__github:hover svg{
    fill: #333;
}


.social-links li svg,
.social-links li svg>path{
    fill:#eaeaea;
    transition: fill .25s;
    transition-delay: .25s;
}

.content--light{
    position: relative;
    z-index: 1;
    background-color: #eaeaea;
    min-width: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width .75s,height .75s,z-index .25s,min-width .75s;
}

.theme-selector{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/****************
*  LIGHT THEME  *
*****************/
body.light .social-links li svg,
body.light .social-links li svg>path{
    fill:#0e0f19;
}

body.light div.content--light{
    z-index: 3;
    min-width: 3000px;
    height: 3000px;
}

body.light .about-me{
    color: #0e0f19;
    border-color: #0e0f19;
}

body.light .name-tag{
    color: #0e0f19;
}

body.light .about-me::after{
    border-top-color: #0e0f19;
    transition-delay: .25s;
}

body.light .about-me::before{
    border-top-color: #eaeaea;
    transition-delay: 0s;
}


/******************
*  MEDIA QUERIES  *
*******************/
@media screen and (min-width: 321px) and (max-width : 480px){
    .about-me{
        position: relative;
        width: 250px;
        top: -440px;
        left: -25px;
    }  
}


@media screen and (min-width: 0px) and (max-width : 320px){
    .about-me{
        position: relative;
        width: 250px;
        top: -335px;
        left: -75px;
    }

    .content{
        width: 100px;
        height: 100px;
    }

    .thumbnail{
        width: 100px;
        height: 100px;
    }

    .social-links{
        left: -40px;
    }
}