body
{
	min-height:100%;
        font-family:'Segoe UI';
        background:linear-gradient(lighten($primary_color,20%) 0%,lighten($primary_color,40%) 0%, #f3f3f3 100%) no-repeat cover;
}

.full-width
{
	width : 100%;
}

.half-width
{
	width: 50%;
	min-width : 50%;
}

.third-width
{
	width: 33.333%;
}

.bg-primary
{
	background-color: $primary_color;
}

.bg-white
{
	background-color: $white;
}

.header{
    height:50px;
    display: flex;
    align-items: center;
    h3{
        width: 100%;
        margin: 0;
        margin-top: 60px;
        font-size: 2.5em;
        color: $primary_color;
        text-align: center;
        transition: text-shadow .5s,color .5s;   
        
        text-shadow: 0px 3px 1px #ccc;

        &:hover{
            text-shadow: 0px 3px 1px #aaa;            
        }



        //animation: shadow-dance 1s infinite alternate linear;

        a{
            color: inherit;
            text-decoration: none;
        }
    }
}

.gauge
{
	display:inline-block;
        position : relative;
        border-color: $primary_color;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+49,161616+84,ffffff+85,111111+87&1+0,0+100 */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.51) 49%, rgba(22,22,22,0.16) 84%, rgba(255,255,255,0.15) 85%, rgba(17,17,17,0.13) 87%, rgba(17,17,17,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.51) 49%,rgba(22,22,22,0.16) 84%,rgba(255,255,255,0.15) 85%,rgba(17,17,17,0.13) 87%,rgba(17,17,17,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.51) 49%,rgba(22,22,22,0.16) 84%,rgba(255,255,255,0.15) 85%,rgba(17,17,17,0.13) 87%,rgba(17,17,17,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	&--small
	{
		width : $small_gauge;
		height: $small_gauge;
                z-index:1;
                margin-bottom:30px;

                .gauge__label{
                  height:35px;
                  font-size:0.7em;
                }


	}

	&--large
	{
		width : $big_gauge;
		height: $big_gauge;
        z-index:2;

        @media #{$large-only}{
            margin-top: 80px;
        }
        @media #{$xlarge-up}{
            margin-top: -30px;
        }
	}
}

.gauge-container{
	display : block;
	vertical-align : top;
    @media #{$large-only}{
        width : $small_gauge + 114px;
    }
    @media #{$large-up}{
        display: inline-block;
    }
}

.gauge__label-text{
  text-align: center;
  text-transform:uppercase;
  line-height:1;
  font-family: monospace;

}

.indicators{
    padding: 30px 0;
}


.indicator{
    text-align:center;
    margin-bottom: 10px;
    display:inline-block;
    width  :100px;

    &__led
    {

        &--yellow
        {
          @include led(40px,$primary_color);

          &-blink
          {
                &::after
                {
                    animation : blink 1.5s infinite;
                }
          }

        }

        &--green
        {
          @include led(40px,#33ff00);

          &-blink
          {
                &::after
                {
                    animation : blink 1.5s infinite;
                }
          }

        }

	&--red
        {
            @include led(40px,rgb(183,50,50));

            &::after
            {
                animation : blink 3s infinite;
            }
        }

    }

    &__text
    {
        font-size: 0.8em;
        vertical-align:super;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
    }

}

.wobble__90{
    animation: wobble__90 .2s infinite;
}

@keyframes shadow-dance{

0%{
    text-shadow: 0px 3px 1px rgba(#ccc,1);
}

100%{
    text-shadow: 0px 3px 1px rgba(#ccc,0);    
}



}

@keyframes blink
{
    0%,100%
    {
        @include led-state__off;
    }
    50%
    {
        @include led-state__on($primary_color);
    }

}

@keyframes wobble__90
{
    @include wobble();
}