body
{
	min-height:100%;
        font-family:'Segoe UI';
}

.full-width
{
	width : 100%;
}

.half-width
{
	width: 50%;
	min-width : 50%;
}

.third-width
{
	width: 33.333%;
}

.bg-primary
{
	background-color: $primary_color;
}

.bg-white
{
	background-color: $white;
}


.hero
{
	min-height:100%;
	width:100%;
	display:table;

	&__tile
  	{	
		&--full
    	{
			display: table-cell;
		}
	}
}

#hero-left
{
	background-image: url(../images/yellow_desk.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size: 70% auto;
}


.gauge
{
	display:inline-block;
	background: $site_grey;
        position : relative;
	
	&--small
	{
		width : $small_gauge;
		height: $small_gauge;
                z-index:1;
                margin-bottom:30px;
                
                .gauge__label{
                  height:35px;
                  font-size:0.7em;
                }

                
	}

	&--large
	{
		width : $big_gauge;
		height: $big_gauge;
                z-index:2;
	}
}

.gauge-container{
	width : $small_gauge + 114px;
	display : inline-block;
	vertical-align : top;
        
}

.indicators{
    padding: 30px 0;
}


.indicator{
    text-align:center;
    margin-bottom: 10px;
    display:inline-block;
    width  :100px;
    
    &__led
    {
       
        &--yellow
        {
          @include led(40px,$primary_color);
          
          &-blink
          {
                &::after 
                {
                    animation : blink 1.5s infinite;
                }  
          }

        }

        &--green
        {
          @include led(40px,#33ff00);
          
          &-blink
          {
                &::after 
                {
                    animation : blink 1.5s infinite;
                }  
          }

        }

	&--red
        {
            @include led(40px,rgb(183,50,50));

            &::after 
            {
                animation : blink 3s infinite;
            }			
        }
        
    }
    
    &__text
    {
        font-size: 0.8em;
        vertical-align:super;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
    }

}

.wobble__90{
    animation: wobble__90 .2s infinite;
}



@keyframes blink
{
    0%,100%
    {
        @include led-state__off;
    }
    50%
    {
        @include led-state__on($primary_color);
    }
    
}

@keyframes wobble__90
{
    @include wobble();
}