/** @type Colors [description] */
$primary_color : rgb(238,251,26);
$site_grey : #f2f3f3;
$table_brown : #c19a6b;



/** Dimensions **/
$small_gauge : 180px;
$big_gauge : 280px;
$table_height:300px;
$cpu_height:300px;
$cpu_width:140px;
$monitor_width:350px;
$monitor_height:300px;
